body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}

header {
  font-size: 37px;
  font-weight: 700;
  color: white;
  height: 69px;
  background-color: #ec362d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.criar-quizz {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 146px auto 77px auto;
  height: 181px;
  width: 1051px;
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
}

.criar-quizz p {
  font-size: 20px;
  color: #b9b9b9;
  width: 250px;
  text-align: center;
  line-height: 23px;
}

.criar-quizz button {
  width: 151px;
  height: 40px;
  background-color: #fafafa;
  font-size: 21px;
  color: #ec362d;
  line-height: 25px;
  border: 1px dashed #ec362d;
  border-radius: 50px;
}

.todos-os-quizzes {
  background: red;
  width: 1051px;
}

/* Início das paginas de Criação de quizz */
/* Primeira Página */
.info-basica-do-quizz {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.orientacoes-de-preenchimento {
  font-size: 23px;
  font-weight: 700;
  margin-top: 140px;
  margin-bottom: 27px;
  text-align: center;
  width: 100%;
}
.conteudo-para-preencher {
  background-color: white;
  width: 100%;
  margin-bottom: 85px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
.caixa-de-input {
  height: 46px;
  border-radius: 5px;
  font-size: 19px;
  border: 1px solid #d1d1d1;
  padding-left: 20px;
}
.conteudo-para-preencher ::placeholder {
  color: #bababa;
  font-style: italic;
}
.botao-para-prosseguir {
  border-radius: 15px;
  background-color: #ec362d;
  color: #fff5f4;
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 369px;
  height: 64px;
}

/* Segunda Página */
.perguntas-do-quizz {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.perguntas-do-quizz .conteudo-para-preencher {
  font-size: 20px;
  font-weight: 700;
  gap: 14px;
  position: relative;
  overflow-y: hidden;
}
.perguntas-do-quizz p {
  margin-top: 14px;
  margin-bottom: 10px;
}
.perguntas-do-quizz p:first-of-type {
  margin-top: 10px;
  margin-bottom: 10px;
}
.perguntas-do-quizz ion-icon {
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.colapsed {
  height: 74px;
}
/* Tecrceira Página */
.niveis-do-quizz {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: yellow;
}

/* Quarta Página */
.sucesso-do-quizz {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: purple;
}
/* Fim das paginas de Criação de quizz */

.esconde {
  display: none;
}
.tela-inicial-desktop {
  display: none;
}
