body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}

header {
  font-size: 37px;
  font-weight: 700;
  color: white;
  height: 69px;
  background-color: #ec362d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
/*Pagina Inicial Quizz*/
.criar-quizz {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 146px auto 77px auto;
  height: 181px;
  width: 1051px;
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
}

.criar-quizz p {
  font-size: 20px;
  color: #b9b9b9;
  width: 250px;
  text-align: center;
  line-height: 23px;
}

.criar-quizz button {
  width: 151px;
  height: 40px;
  background-color: #fafafa;
  font-size: 21px;
  color: #ec362d;
  line-height: 25px;
  border: 1px dashed #ec362d;
  border-radius: 50px;
}

.todos-os-quizzes {
  width: 1051px;
  margin: 0 auto;
}

.todos-os-quizzes h1 {
  font-size: 20px;
  font-weight: 700;
}

.lista-quizzes {
  display: flex;
  flex-wrap: wrap;
}

.quizz {
  width: 340px;
  height: 181px;
  background-color: blue;
  border-radius: 5px;
  margin-top: 12px;
  overflow: hidden;
  position: relative;
}

.quizz:nth-child(3n + 2) {
  margin: 12px 15px 0 15px;
}

.quizz img{
  width: 100%;
  height: 100%;
  z-index: 1;
}
.gradiente {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 65.1%,
    #000000 100%);
  z-index: 2;
}
.quizz h2 {
  font-size: 19px;
  width: 80%;
  word-break: break-word;
  color: #fff;
  position: absolute;
  bottom: 15px;
  left: 10px;
  z-index: 3;
}

/*Pagina de resolver quizz criado */
 .tela-de-quizz{
   margin-top: 69px;
   display: flex;
   flex-direction: column;
   align-items: center;
   
 }

 .titulo-quizz{
   position: relative;
   width: 100%;
   height: 227px;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
 }
 .titulo-quizz img{
   width: 100%;
 }

 .titulo-quizz h2{
   position: absolute;
   font-size: 39px;
   color: #FFF;
   z-index:3;
 }

 .caixa-de-questao{
   width: 759px;
   height: 676px;
   margin: 42px 0 0 0 ;
   background: #fff;
   box-sizing: border-box;
   padding: 27px 35px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
   flex-wrap: wrap;
 }

 .titulo-da-questao{
   height: 138px;
   background: blue;
   display: flex;
   margin-bottom: 20px;
   justify-content: center;
   align-items: center;
   font-size: 23px;
   color:#FFF;
 }

 .respostas{
   width: 100%;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;

 }
 .opcao-resposta{
   width: 330px;
 }
 .opcao-resposta img{
   width: 100%;
   height: 175px;
   margin-bottom: 10px;
 }

 .opcao-resposta p{
   font-size: 20px;
   font-weight: 700;
   margin-bottom:25px;
 }

 .caixa-de-resultado{
   width: 759px;
   height: 430px;
   background: #FFF;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
   margin: 44px auto ;
   
   padding: 18px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
 }

 .titulo-resultado{
   width: 100%;
   background:red;
   height: 99px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #FFF;
   font-weight: 700;
   font-size: 23px;
 }

 .texto-resultado{
   width: 340px;
   word-break: break-word;
   font-size: 19px;
   font-weight: 700;
   line-height: 25px;
 }

 .correta{
   color: #009C22;
 }

 .errada{
   color: #FF4B4B;
 }

 .ocultar-cor{
   color: #000;
 }

 .nao-escolhida{
   opacity: 0.3;
 }
 .imagem-resultado{
   width: 360px;
   height: 250px;
 }

 .imagem-resultado img{
  width: 100%;
  height: 100%;
}

.reiniciar-quizz{
  width: 260px;
  height: 52px;
  border: none;
  outline: none;
  background: #EC362D;
  border-radius: 15px;
  font-weight: 400;
  font-size: 21px;
  color: #FFF;
  margin-bottom: 15px;
}

.voltar-home{
  font-size: 21px;
  color: #818181;
  background: none;
  border: none;
  outline: none;
}








/* Início das paginas de Criação de quizz */
/* Primeira Página */
.info-basica-do-quizz {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.orientacoes-de-preenchimento {
  font-size: 23px;
  font-weight: 700;
  margin-top: 140px;
  margin-bottom: 27px;
  text-align: center;
  width: 100%;
}
.conteudo-para-preencher {
  background-color: white;
  width: 100%;
  margin-bottom: 14px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
.caixa-de-input {
  height: 46px;
  border-radius: 5px;
  font-size: 19px;
  border: 1px solid #d1d1d1;
  padding-left: 20px;
}
.conteudo-para-preencher ::placeholder {
  color: #bababa;
  font-style: italic;
}
.botao-para-prosseguir {
  border-radius: 15px;
  margin-top: 58px;
  background-color: #ec362d;
  color: #fff5f4;
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 369px;
  height: 64px;
}

/* Segunda Página */
.perguntas-do-quizz {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.perguntas-do-quizz .conteudo-para-preencher {
  font-size: 20px;
  font-weight: 700;
  gap: 14px;
  position: relative;
  overflow-y: hidden;
  height: 800px;
}
.perguntas-do-quizz p {
  margin-top: 14px;
  margin-bottom: 10px;
}
.perguntas-do-quizz p:first-of-type {
  margin-top: 10px;
  margin-bottom: 10px;
}
.perguntas-do-quizz ion-icon {
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
}

/* Tecrceira Página */
.niveis-do-quizz {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.niveis-do-quizz .conteudo-para-preencher {
  font-size: 20px;
  font-weight: 700;
  gap: 14px;
  position: relative;
  overflow-y: hidden;
  height: 330px;
}
.niveis-do-quizz p {
  margin-top: 14px;
  margin-bottom: 10px;
}
.niveis-do-quizz p:first-of-type {
  margin-top: 10px;
  margin-bottom: 10px;
}
.niveis-do-quizz ion-icon {
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
}

/* Quarta Página */
.sucesso-do-quizz {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sucesso-do-quizz .conteudo-para-preencher {
  width: 500px;
  height: 266px;
  background-color: purple;
}
.voltar-para-home {
  font-size: 21px;
  color: #818181;
  margin-top: 9px;
}
.erro {
  color: red;
  margin-bottom: 5px;
}
/* Fim das paginas de Criação de quizz */

.esconde {
  display: none;
}
.perguntas-do-quizz .colapsed {
  height: 74px;
}
.niveis-do-quizz .colapsed {
  height: 74px;
}
